.card-title {
    font-size: 1.5em;
    margin: 5px;
    font-weight: 500;
}

.card-sub-header {
    font-size: medium;
    margin: 5px 5px 20px 5px;
    color: #555;
}

.card-body {
    margin: 5px 5px 20px 5px;
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 2px 2px var(--tertiaryColor), 8px 8px #aaaaaa;
    height: 300px;
    width: 500px;
    margin: 2rem;
    position: relative;
}

@media(max-width: 600px){
    .card {
        width: 400px;
    }
}

@media(max-width: 500px){
    .card {
        width: 300px;
        height: 325px;
    }
}

.card-link {
    text-decoration: none;
    margin: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}