/* :root{
    --primaryColor: #000000;
    --secondaryColor: #ffffff;
    --tertiaryColor: #990000;
} */

:root{
    --primaryColor: #FF9E00;
    --secondaryColor: #FF0000;
    --tertiaryColor: #3BEEC6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    max-width: calc(100vw);
}