.Toolbar {
    height: 56px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid #ddd;
    /* background-color: var(--secondaryColor); */
    background-color: #ffffff;
}

.Nav {
    height: 100%;
    display: flex;
}

.Nav a {
    /* color: var(--primaryColor); */
    color: #000000;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

/* .Nav a:hover,
.Nav a:active {
    background-color: var(--tertiaryColor);
    border-bottom: var(--secondaryColor);
    color: var(--secondaryColor);
} */

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}