.contact-card {
    /* border: 1px solid #ddd;
    box-shadow: 2px 2px var(--tertiaryColor), 8px 8px #aaaaaa; */
    height: 200px;
    width: 300px;
    margin: 2rem;
    position: relative;
    background-color: white;
}

.contact-profile-pic-container {
    padding-top: 8px;
}

.contact-profile-pic {
    height: 150px;
    width: 150px;
}

.contact-card-body {
    padding-top: 50px;    
    margin: 5px 5px 20px 5px;
    font-weight: 400;
    font-size: 16px;
    color: #444;
    line-height: 1.5rem;
}

.contact-body {
    margin: 1rem;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-footer-border {
    border-right: 1px solid black;
}