.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 24px; */
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.footer-email {
    color: #939393;
}

.footer-text {
    color: #939393;
}