.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    border-top: solid 1px #ddd;
    background-color: var(--secondaryColor);
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.footer-email {
    /* color: #939393; */
    color: #ffffff;
}

.footer-text {
    color: #939393;
}