.App {
  text-align: center;
  height: auto;
  font-family: Georgia,Times;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 70px;
}

.App-body {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.App-body-text {
  margin: 0 auto;
  max-width: 41rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;  
}

.App-body-text p {
  line-height: 1.25rem;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  margin-bottom: 1rem;
  text-align: initial;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: var(--primaryColor); */
  height: 75px;
  padding: 20px;
  /* color: var(--primaryColor); */
  color: var(--secondaryColor);
}

.App-title {
  font-size: 2.5em;
}

.App-sub-header {
  font-size: large;
  color: #939393;
  /* margin-bottom: 3rem; */
}

.container {
  /* min-height: calc(100vh - 70px); */
  /* min-height: calc(100vh - 16px); */
  min-height: calc(100vh);
  position: relative;
  /* padding-bottom: 70px; */
  /* background-color: antiquewhite; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sliding-pane-container {
  max-width: 500px;
}

.sliding-pane-container .slide-pane__header {
  background-color: #ffffff;
}

.sliding-pane-container .slide-pane__title {
  color: var(--secondaryColor);
}

.sliding-pane-container .slide-pane__content {
  color: var(--secondaryColor);
}

.sliding-pane-overlay {
  z-index: 999999;
}

.my-profile-container {
  display: flex;
}

.my-profile-title {
  margin: auto;
}

.my-profile {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: 40px;
}

@media(max-width: 600px){
  .my-profile {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: 40px;
  }
}
